
<div id="main-wrapper">

    <app-header></app-header>

    <app-perfil *ngIf="modalService.abreModalPerfil"></app-perfil>

    <div class="container-fluid" id="wrapper">

        <!--
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-breadcrumbs></app-breadcrumbs>
                </div>
            </div>
        </div>
        -->


        <router-outlet></router-outlet>
        
    </div>


    <app-footer *ngIf="infoAyuntamiento" [info] = "infoAyuntamiento"></app-footer>

</div>





