<div class="container animated fadeInLeft">
    <div class="row">
        <div class="col-12" style="overflow-y: scroll; height: 360px;">

            <!--TITULO-->
            <div class="row">
                <div class="col-12">
                    <h3><strong>TÉRMINOS DE SERVICIO.</strong></h3>
                    <p><strong>Fecha de vigencia:</strong> 20 de junio de 2021.</p>
                </div>
            </div>

            <br>

            <!--CONTENIDO-->
            <div class="row">
                <div class="col-12">
                    <h5><u>INFORMACIÓN GENERAL.</u></h5>
                    <p class="text-justify">
                        Este sitio web es operado por <strong>Costeca</strong>. En todo el sitio, los términos <strong>“nosotros”</strong>, <strong>“nos”</strong> y
                        <strong>“nuestro”</strong> se refieren a <strong>Cosateca</strong>.
                    </p>
                    <p class="text-justify">
                        <strong>Costeca</strong> ofrece este sitio web, incluyendo toda la información, herramientas y
                        servicios disponibles para ti en este sitio, el usuario, está condicionado a la aceptación
                        de todos los términos, condiciones, políticas y notificaciones aquí establecidos.
                    </p>
                    <p class="text-justify">
                        Al visitar nuestro sitio y/o adquirir algo de nosotros, participas en nuestro <strong>“Servicio”</strong> y aceptas
                        los siguientes términos y condiciones, incluidos todos los términos y condiciones adicionales y
                        las políticas a las que se hace referencia en el presente documento. Estas <strong>Condiciones de
                        Servicio</strong> se aplican a todos los usuarios del sitio, incluyendo sin limitación a usuarios que sean
                        navegadores, proveedores, clientes, comerciantes, y/o colaboradores de contenido. 
                    </p>
                    <p class="text-justify">
                        Por favor, lea estos <strong>Términos de Servicio</strong> cuidadosamente antes de acceder o utilizar nuestro
                        sitio web. Al acceder o utilizar cualquier parte del sitio, estás aceptando los <strong>Términos de
                        Servicio</strong>. Si no estás de acuerdo con todos los términos y condiciones de este acuerdo,
                        entonces no deberías acceder a la página web o usar cualquiera de los servicios. Si los
                        <strong>Términos de Servicio</strong> son considerados una oferta, la aceptación está expresamente limitada a
                        estos <strong>Términos de Servicio</strong>.
                    </p>
                    <p>
                        Cualquier función nueva o herramienta que se añadan a la web actual, también estarán
                        sujetas a los <strong>Términos de Servicio</strong>. Puedes revisar la versión actualizada de los <strong>Términos de
                        Servicio</strong>, en cualquier momento en esta página. Nos reservamos el derecho de actualizar,
                        cambiar o reemplazar cualquier parte de los <strong>Términos de Servicio</strong> mediante la publicación de
                        actualizaciones y/o cambios en nuestro sitio web. Es su responsabilidad consultar esta página
                        periódicamente para verificar cambios. Su uso contínuo o el acceso al sitio web después de la
                        publicación de cualquier cambio constituye la aceptación de dichos cambios.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 1 - TÉRMINOS DE LA TIENDA EN LÍNEA.</u></h5>
                    <p class="text-justify">
                        Al utilizar este sitio, declaras que tienes al menos la <strong>mayoría de edad</strong> en tu estado o provincia
                        de residencia, o que tienes la mayoría de edad en tu estado o provincia de residencia y que nos
                        has dado tu consentimiento para permitir que cualquiera de tus dependientes menores usen
                        este sitio.
                    </p>
                    <p class="text-justify">
                        No puedes usar <strong>nuestros productos</strong> con ningún <strong>propósito ilegal</strong> o <strong>no autorizado</strong> tampoco
                        puedes, en el uso del Servicio, violar cualquier ley en tu jurisdicción (incluyendo, pero no
                        limitado a las leyes de derecho de autor).
                    </p>
                    <p class="text-justify">
                        No debes transmitir, virus o cualquier código de naturaleza destructiva.
                    </p>
                    <p class="text-justify">
                        El <strong>incumplimiento o violación</strong> de cualquiera de estos términos darán lugar al cese inmediato
                        de tus servicios.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 2 - CONDICIONES GENERALES.</u></h5>
                    <p class="text-justify">
                        <strong>Nos reservamos el derecho de rechazar</strong> la prestación de servicio a cualquier persona, por
                        cualquier motivo y en cualquier momento.
                    </p>
                    <p class="text-justify">
                        Entiendes que su contenido puede ser
                        transferida sin encriptar e involucrar <strong>(a)</strong> transmisiones a través de varias redes; y <strong>(b)</strong> cambios
                        para ajustarse o adaptarse a los requisitos técnicos dé conexión de redes o dispositivos. 
                    </p>
                    <p class="text-justify">
                        Está usted de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier
                        parte del servicio, uso del servicio, o acceso al servicio o cualquier contacto en el sitio web a
                        través del cual se presta el servicio, sin el expreso permiso por escrito de nuestra parte.
                    </p>
                    <p class="text-justify">
                        Los títulos utilizados en este acuerdo se incluyen solo por conveniencia y no limita o afecta a
                        estos términos.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 3 - EXACTITUD, EXHAUSTVIDAD Y ACTUALIDAD DE LA INFORMACIÓN.</u></h5>
                    <p class="text-justify">
                        No nos hacemos responsables si la información disponible en este sitio no es exacta, completa
                        o actual. El material en este sitio es provisto solo para información general y no debe confiarse
                        en ella o utilizarse como la única base para la toma de decisiones sin consultar, previamente,
                        información más precisa, completa u oportuna. Cualquier dependencia en el materia de este
                        sitio es bajo su propio riesgo.
                    </p>
                    <p class="text-justify">
                        Este sitio puede contener cierta información histórica. La información histórica, no es
                        necesariamente actual y es provista únicamente para tu referencia. Nos reservamos el
                        derecho de modificar los contenidos de este sitio en cualquier momento, pero no tenemos
                        obligación de actualizar cualquier información en nuestro sitio. Aceptas que es su
                        responsabilidad de monitorear los cambios en nuestro sitio.
                    </p>

                    <br>

                    <h5><u>SECTION 4 - MODIFICACIONES AL SERVICIO Y PRECIOS.</u></h5>
                    <p class="text-justify">
                        <strong>Nos reservamos el derecho de modificar o discontinuar el servicio</strong> (o cualquier parte del
                        contenido) en cualquier momento sin aviso previo.
                    </p>
                    <p class="text-justify">
                        <strong>No seremos responsables</strong> ante usted o alguna tercera parte por cualquier modificación, suspensión o discontinuidad del Servicio.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 5 - PRODUCTOS O SERVICIOS (si es aplicable).</u></h5>
                    <p class="text-justify">
                        Ciertos productos o servicios pueden estar disponibles exclusivamente en línea a través del
                        sitio web. Estos productos o servicios pueden tener cantidades limitadas y estar sujetas a
                        devolución o cambio de acuerdo con nuestra política de devolución solamente.
                    </p>
                    <p class="text-justify">
                        Hemos hecho el esfuerzo de mostrar los colores y las imágenes de nuestros productos, en la
                        tienda, con la mayor precisión de colores posible. No podemos garantizar que el monitor de tu
                        computadora muestre los colores de manera exacta.
                    </p>
                    <p class="text-justify">
                        <strong>No garantizamos</strong> que la calidad de los productos, servicios, información u otro material
                        comprado u obtenido por usted cumpla con sus expectativas, o que cualquier error en el servicio
                        será corregido.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 6 - EXACTITUD DE FACTURACIÓN E INFORMACIÓN DE CUENTA.</u></h5>
                    <p class="text-justify">
                        <strong>Nos reservamos el derecho de rechazar cualquier pedido que realice con nosotros</strong>. Podemos,
                        a nuestra discreción, limitar o cancelar las cantidades adquiridas por persona, por hogar o por
                        pedido. Estas restricciones pueden incluir pedidos realizados por o bajo la misma cuenta de
                        cliente.
                    </p>
                    <p class="text-justify">
                        <strong>En el caso de que hagamos un cambio o cancelemos una orden</strong>, podemos intentar notificarle
                        poniéndonos en contacto vía correo electrónico y/o número de
                        teléfono proporcionado en el momento que se hizo el pedido. Nos reservamos el derecho de
                        limitar o prohibir las órdenes que, a nuestro juicio, parecen ser colocado por los
                        concesionarios, revendedores o distribuidores.
                    </p>
                    <p class="text-justify">
                        <strong>Se compromete</strong> a proporcionar información actual, completa y precisa de la adquisición y cuenta
                        utilizada para todas las adquisiciones realizadas en nuestra web. Se compromete a actualizar
                        rápidamente su cuenta y otra información, incluyendo su dirección de correo electrónico, para que podamos completar sus
                        transacciones y contactarte cuando sea necesario.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 7 - HERRAMIENTAS OPCIONALES.</u></h5>
                    <p class="text-justify">
                        Es posible que te proporcionemos acceso a herramientas de terceros a los cuales no
                        monitoreamos y sobre los que no tenemos control ni entrada.
                    </p>
                    <p class="text-justify">
                        Reconoce y acepta que proporcionamos acceso a este tipo de herramientas &quot;tal cual&quot; y
                        &quot;según disponibilidad&quot; <strong>sin garantías</strong>, representaciones o condiciones de ningún tipo y sin
                        ningún respaldo. No tendremos responsabilidad alguna derivada de o relacionada con su uso
                        de herramientas proporcionadas por terceras partes.
                    </p>
                    <p class="text-justify">
                        Cualquier uso que haga de las herramientas opcionales que se ofrecen a través del sitio bajo
                        su propio riesgo y discreción y debes asegurarse de estar familiarizado y aprobar los términos
                        ,bajo los cuales, estas herramientas son proporcionadas por el o los proveedores de terceros.
                    </p>
                    <p class="text-justify">
                        También es posible que, en el futuro, le ofrezcamos nuevos servicios y/o características a
                        través del sitio web (incluyendo el lanzamiento de nuevas herramientas y recursos). Estas
                        nuevas características y/o servicios también estarán sujetos a estos <strong>Términos de Servicio</strong>.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 8 - ENLACES DE TERCERAS PARTES.</u></h5>
                    <p class="text-justify">
                        Cierto contenido, productos y servicios disponibles vía nuestro servicio puede incluir material
                        de terceras partes.
                    </p>
                    <p class="text-justify">
                        <strong>Enlaces de terceras partes</strong> en este sitio pueden direccionarte a sitios web de terceras partes
                        que no están afiliadas con nosotros. No nos responsabilizamos de examinar o evaluar el
                        contenido o exactitud y no garantizamos ni tendremos ninguna obligación o responsabilidad
                        por cualquier material de terceros o sitios web, o de cualquier material, productos o servicios
                        de terceros.
                    </p>
                    <p class="text-justify">
                        <strong>No nos hacemos responsables</strong> de cualquier daño o daños relacionados con la adquisición o
                        utilización de bienes, servicios, recursos, contenidos, o cualquier otra transacción realizadas en
                        conexión con sitios web de terceros. Por favor revisa cuidadosamente las políticas y prácticas
                        de terceros y asegúrate de entenderlas antes de participar en cualquier transacción. Quejas,
                        reclamos, inquietudes o preguntas con respecto a productos de terceros deben ser dirigidas a
                        la tercera parte.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 9 - COMENTARIOS DE USUARIO, CAPTACIÓN Y OTROS ENVÍOS.</u></h5>
                    <p class="text-justify">
                        Si, a pedido nuestro, envía cierta presentación específica (por ejemplo, la participación en
                        concursos) o sin un pedido de nuestra parte envía ideas creativas, sugerencias, proposiciones,
                        planes, u otros materiales, ya sea en línea, por email, por correo postal, o de otra manera
                        (colectivamente, &#39;comentarios&#39;), acepta que podamos, en cualquier momento, sin restricción,
                        editar, copiar, publicar, distribuir, traducir o utilizar por cualquier medio comentarios que nos
                        haya enviado. No tenemos ni tendremos ninguna obligación <strong>(1)</strong> de mantener ningún
                        comentario confidencialmente; <strong>(2)</strong> de pagar compensación por comentarios; o <strong>(3)</strong> de
                        responder a comentarios.
                    </p>
                    <p class="text-justify">
                        Nosotros podemos, pero <strong>no tenemos obligación</strong>, de monitorear, editar o remover contenido
                        que consideremos sea ilegítimo, ofensivo, amenazante, calumnioso, difamatorio, pornográfico,
                        obsceno u objetable o viole la propiedad intelectual de cualquiera de las partes o los <strong>Términos
                        de Servicio</strong>.
                    </p>
                    <p class="text-justify">
                        <strong>Acepta que sus comentarios</strong> no violarán los derechos de terceras partes, incluyendo derechos
                        de autor, marca, privacidad, personalidad u otro derecho personal o de propiedad. Asimismo,
                        acepta que sus comentarios no contienen material difamatorio o ilegal, abusivo u obsceno, o
                        contienen virus informáticos u otro malware que pudiera, de alguna manera, afectar el
                        funcionamiento del servicio o de cualquier sitio web relacionado. No puedes utilizar una
                        dirección de correo electrónico falsa, usar otra identidad que no sea legítima, o engañar a
                        terceras partes o a nosotros en cuanto al origen de sus comentarios. Usted es el único
                        responsable por los comentarios que haces y su precisión. No nos hacemos responsables y no
                        asumimos ninguna obligación con respecto a los comentarios publicados por ti o cualquier
                        tercera parte.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 10 - INFORMACIÓN PERSONAL.</u></h5>
                    <p class="text-justify">
                        Su presentación de información personal a través del sitio se rige por nuestra <a routerLink="/politica-privacidad">Política de privacidad</a>. 
                    </p>

                    <br>

                    <h5><u>SECCIÓN 11 - ERRORES, INEXACTITUDES Y OMISIONES.</u></h5>
                    <p class="text-justify">
                        De vez en cuando puede haber información en nuestro sitio o en el servicio que contiene
                        errores tipográficos, inexactitudes u omisiones que puedan estar relacionadas con las
                        descripciones de productos, promociones, ofertas, el
                        tiempo de tránsito y la disponibilidad. Nos reservamos el derecho de corregir los errores,
                        inexactitudes u omisiones y de cambiar o actualizar la información o cancelar pedidos si alguna
                        información en el servicio o en cualquier sitio web relacionado es inexacta en cualquier
                        momento sin previo aviso (incluso después de que hayas enviado tu orden).
                    </p>
                    <p class="text-justify">
                        No <strong>asumimos ninguna obligación de actualizar, corregir o aclarar</strong> la información en el servicio
                        o en cualquier sitio web relacionado,
                        excepto cuando sea requerido por la ley. Ninguna especificación actualizada o fecha de
                        actualización aplicada en el servicio o en cualquier sitio web relacionado, debe ser tomada
                        para indicar que toda la información en el Servicio o en cualquier sitio web relacionado ha sido
                        modificado o actualizado.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 12 - USOS PROHIBIDOS.</u></h5>
                    <p class="text-justify">
                        En adición a otras prohibiciones como se establece en los <strong>Términos de Servicio</strong>, se prohíbe el
                        uso del sitio o su contenido: <strong>(a)</strong> para ningún propósito ilegal; <strong>(b)</strong> para pedirle a otros que
                        realicen o participen en actos ilícitos; <strong>(c)</strong> para violar cualquier regulación, reglas, leyes
                        internacionales, federales, provinciales o estatales, u ordenanzas locales; <strong>(d)</strong> para infringir o
                        violar el derecho de propiedad intelectual nuestro o de terceras partes; <strong>(e)</strong> para acosar,
                        abusar, insultar, dañar, difamar, calumniar, desprestigiar, intimidar o discriminar por razones
                        de género, orientación sexual, religión, etnia, raza, edad, nacionalidad o discapacidad; <strong>(f)</strong> para
                        presentar información falsa o engañosa; <strong>(g)</strong> para cargar o transmitir virus o cualquier otro tipo
                        de código malicioso que sea o pueda ser utilizado en cualquier forma que pueda comprometer
                        la funcionalidad o el funcionamiento del Servicio o de cualquier sitio web relacionado, otros
                        sitios o Internet; <strong>(h)</strong> para recopilar o rastrear información personal de otros; <strong>(i)</strong> para generar
                        spam, phish, pharm, pretext, spider, crawl, or scrape; <strong>(j)</strong> para cualquier propósito obsceno o
                        inmoral; o <strong>(k)</strong> para interferir con o burlar los elementos de seguridad del Servicio o cualquier
                        sitio web relacionado, otros sitios o Internet. Nos <strong>reservamos el derecho de suspender</strong> el uso
                        del servicio o de cualquier sitio web relacionado por violar cualquiera de los ítems de los usos
                        prohibidos.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 13 - EXCLUSIÓN DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD.</u></h5>
                    <p class="text-justify">
                        <strong>No garantizamos ni aseguramos</strong> que el uso de nuestro servicio será ininterrumpido, puntual,
                        seguro o libre de errores.
                    </p>
                    <p class="text-justify">
                        <strong>No garantizamos</strong> que los resultados que se puedan obtener del uso del servicio serán exactos
                        o confiables.
                    </p>
                    <p class="text-justify">
                        <strong>Acepta</strong> que de vez en cuando podemos quitar el servicio por períodos de tiempo indefinidos o
                        cancelar el servicio en cualquier momento sin previo aviso.
                    </p>
                    <p class="text-justify">
                        <strong>Acepta expresamente</strong> que el uso de, o la posibilidad de utilizar, el servicio es bajo su propio
                        riesgo. El servicio y todos los productos y servicios proporcionados a través del servicio son
                        (salvo lo expresamente manifestado por nosotros) proporcionados &quot;tal cual&quot; y &quot;según esté
                        disponible&quot; para su uso, sin ningún tipo de representación, garantías o condiciones de ningún
                        tipo, ya sea expresa o implícita, incluidas todas las garantías o condiciones implícitas de
                        comercialización, calidad comercializable, la aptitud para un propósito particular, durabilidad,
                        título y no infracción.
                    </p>
                    <p class="text-justify">
                        <strong>En ningún caso Cosateca</strong>, nuestros directores, funcionarios, empleados, afiliados, agentes,
                        contratistas, internos, proveedores, prestadores de servicios o licenciantes serán responsables
                        por cualquier daño, pérdida, reclamo, o daños directos, indirectos, incidentales, punitivos,
                        especiales o consecuentes de cualquier tipo, incluyendo, sin limitación, pérdida de beneficios,
                        pérdida de ingresos, pérdida de ahorros, pérdida de datos, costos de reemplazo, o cualquier
                        daño similar, ya sea basado en contrato, agravio (incluyendo negligencia), responsabilidad
                        estricta o de otra manera, como consecuencia del uso de cualquiera de los servicios o
                        productos adquiridos mediante el servicio, o por cualquier otro reclamo relacionado de alguna
                        manera con el uso del servicio o cualquier producto, incluyendo pero no limitado, a cualquier
                        error u omisión en cualquier contenido, o cualquier pérdida o daño de cualquier tipo
                        incurridos como resultados de la utilización del servicio o cualquier contenido (o producto)
                        publicado, transmitido, o que se pongan a disposición a través del servicio, incluso si se avisa
                        de su posibilidad. Debido a que algunos estados o jurisdicciones no permiten la exclusión o la
                        limitación de responsabilidad por daños consecuenciales o incidentales, en tales estados o
                        jurisdicciones, nuestra responsabilidad se limitará en la medida máxima permitida por la ley.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 14 - INDEMNIZACIÓN.</u></h5>
                    <p class="text-justify">
                        <strong>Acepta</strong> indemnizar, defender y <strong>mantener indemne Cosateca</strong> y nuestras matrices,
                        subsidiarias, afiliados, socios, funcionarios, directores, agentes, contratistas, concesionarios,
                        proveedores de servicios, subcontratistas, proveedores, internos y empleados, de cualquier
                        reclamo o demanda, incluyendo honorarios razonables de abogados, hechos por cualquier
                        tercero a causa o como resultado de tu incumplimiento de las Condiciones de Servicio o de los
                        documentos que incorporan como referencia, o la violación de cualquier ley o de los derechos
                        de u tercero.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 15 - DIVISIBILIDAD.</u></h5>
                    <p class="text-justify">
                        En el caso de que se determine que cualquier disposición de estos <strong>Términos de Servicio</strong> sea
                        ilegal, nula o inejecutable, dicha disposición será, no obstante, efectiva a obtener la máxima
                        medida permitida por la ley aplicable, y la parte no exigible se considerará separada de estos
                        <strong>Términos de Servicio</strong>, dicha determinación no afectará la validez de aplicabilidad de las demás
                        disposiciones restantes.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 16 - RESCISIÓN.</u></h5>
                    <p class="text-justify">
                        Las <strong>obligaciones y responsabilidades</strong> de las partes que hayan incurrido con anterioridad a la
                        fecha de terminación sobrevivirán a la terminación de este acuerdo a todos los efectos.
                    </p>
                    <p class="text-justify">
                        Estas <strong>Condiciones de Servicio</strong> son efectivas a menos que y hasta que sea terminado por ti o
                        nosotros. Puede terminar estos <strong>Términos de Servicio</strong> en cualquier momento por avisarnos
                        que ya no deseas utilizar nuestros servicios, o cuando dejes de usar nuestro sitio.
                    </p>
                    <p class="text-justify">
                        <strong>Si a nuestro juicio</strong>, falla, o se sospecha que ha fallado, en el cumplimiento de cualquier
                        término o disposición de estas <strong>Condiciones de Servicio</strong>, también podemos terminar este
                        acuerdo en cualquier momento sin previo aviso, y seguirás siendo responsable de todos los
                        montos adeudados hasta incluida la fecha de terminación; y/o en consecuencia podemos
                        negarte el acceso a nuestros servicios (o cualquier parte del mismo).
                    </p>

                    <br>

                    <h5><u>SECCIÓN 17 - ACUERDO COMPLETO.</u></h5>
                    <p class="text-justify">
                        <strong>Nuestra falla</strong> para ejercer o hacer valer cualquier derecho o disposición de estas <strong>Condiciones
                        de Servicio</strong> no constituirá una renuncia a tal derecho o disposición.
                    </p>
                    <p class="text-justify">
                        Estas <strong>Condiciones del Servicio</strong> y las políticas o reglas de operación publicadas por nosotros en
                        este sitio o con respecto al servicio constituyen el acuerdo completo y el entendimiento entre
                        usted y nosotros y rigen el uso del servicio y reemplaza cualquier acuerdo, comunicaciones y
                        propuestas anteriores o contemporáneas, ya sea oral o escrita, entre usted y nosotros
                        (incluyendo, pero no limitado a, cualquier versión previa de los <strong>Términos de Servicio</strong>).
                    </p>
                    <p class="text-justify">
                        Cualquier ambigüedad en la interpretación de estas condiciones del servicio no se
                        interpretarán en contra del grupo de redacción.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 18 - LEY.</u></h5>
                    <p class="text-justify">
                        Estas Condiciones del servicio y cualquier acuerdo aparte en el que te proporcionemos
                        servicios se regirán e interpretarán en conformidad con las leyes de Plaza Juan Ramon Jimenez, 2, La Rinconada, Sevilla, España.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 19 - CAMBIOS EN LOS TÉRMINOS DE SERVICIO.</u></h5>
                    <p class="text-justify">
                        Puede revisar la versión más actualizada de los <strong>Términos de Servicio</strong> en cualquier momento
                        en esta página.
                    </p>
                    <p class="text-justify">
                        <strong>Nos reservamos el derecho</strong>, a nuestra sola discreción, de actualizar, modificar o reemplazar
                        cualquier parte de estas <strong>Condiciones de Servicio</strong> mediante la publicación de las actualizaciones
                        y los cambios en nuestro sitio web. Es su responsabilidad revisar nuestro sitio web
                        periódicamente para verificar los cambios. El uso contínuo de o el acceso a nuestro sitio web o
                        el servicio después de la publicación de cualquier cambio en estas <strong>Condiciones de Servicio</strong>
                        implica la aceptación de dichos cambios.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 20 - INFORMACIÓN DE CONTACTO.</u></h5>
                    <p class="text-justify">
                        Preguntas acerca de los <strong>Términos de Servicio</strong> deben ser enviadas al administrador del sitio web:
                    </p>
                    <ul>
                        <li>raulrodriguezmendez1997@gmail.com</li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>
