
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="..." alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{objeto.nombre}}</h5>
          <p class="card-text">{{objeto.descripcion}}</p>
          <p class="card-text"><small class="text-muted">{{objeto.categoria}}</small></p>
          <!--<a href="#" class="btn btn-primary text-end">Go somewhere</a>-->
          
        </div>
        <!--
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Categoría: {{objeto.categoria}}</li>
        </ul>
        -->
      </div>
    </div>
  </div>