<div class="container animated fadeInLeft">
    <div class="row">
        <div class="col-12" style="overflow-y: scroll; height: 360px;">

            <!--TITULO-->
            <div class="row">
                <div class="col-12">
                    <h3><strong>POLÍTICA DE PRIVACIDAD.</strong></h3>
                    <p><strong>Fecha de vigencia:</strong> 20 de junio de 2021.</p>
                </div>
            </div>

            <br>


             <!--CONTENIDO-->
             <div class="row">
                <div class="col-12">
                    <h5><u>SECCIÓN 1 - ¿QUÉ HACEMOS CON TU INFORMACIÓN?</u></h5>
                    <p class="text-justify">
                        <strong>Cuando adquieras algo</strong> de nuestra web, como parte del proceso de compra venta, nosotros
                        recolectamos la información personal que usted nos da tales como nombre, dirección y correo
                        electrónico.
                    </p>
                    <p class="text-justify">
                        <strong>Cuando navegues</strong> en nuestra web, también recibimos de manera automática la dirección de
                        protocolo de internet de tu computadora (IP) con el fin de proporcionarnos información que
                        nos ayuda a conocer acerca de su navegador y sistema operativo.
                    </p>
                    <p class="text-justify">
                        Correo de marketing (<strong>Si es aplicable</strong>): Con su permiso, podremos enviarle correos electrónicos
                        acerca de nuestra web, nuevos productos y otras actualizaciones.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 2 - CONSENTIMIENTO.</u></h5>
                    <p class="text-justify">
                        <strong>Cuando nos provees su información personal</strong> para completar una transacción, crear una
                        orden, concertar un envío o hacer una devolución, implicamos que aceptas la recolección y uso
                        por esa razón específica solamente.
                    </p>
                    <p class="text-justify">
                        <strong>Si le pedimos su información personal</strong> por una razón secundaria, como marketing, le
                        pediremos directamente su expreso consentimiento, o le daremos la oportunidad de negarse.
                    </p>
                    <p class="text-justify">
                        Si luego de haber aceptado <strong>cambia de opinión</strong>, puede anular su consentimiento para que le
                        contactemos, por la recolección, uso o divulgación de su información, en cualquier momento,
                        contactando con el administrador de la web: <strong>raulrodriguezmendez1997@gmail.com</strong>, o poniendose en contacto a traves
                        del siguiente número de teléfono: <strong>954791405</strong>
                    </p>

                    <br>

                    <h5><u>SECCIÓN 3 - DIVULGACIÓN.</u></h5>
                    <p class="text-justify">
                        Podemos divulgar su información personal si se nos requiere por ley o si violas nuestros
                        <a routerLink="/terminos-y-condiciones">Términos y Condiciones</a>.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 4 – SERVICIOS DE TERCERAS PARTES.</u></h5>
                    <p class="text-justify">
                        En general, <strong>los proveedores de terceras partes</strong> utilizados por nosotros solo recopilarán, usarán
                        y divulgarán su información en la medida que sea necesaria para que les permita desempeñar
                        los servicios que nos proveen.
                    </p>
                    <p class="text-justify">
                        Para estos proveedores, <strong>le recomendamos</strong> que lea las políticas de privacidad para que
                        pueda entender la manera en que su información personal será manejada.
                    </p>
                    <p class="text-justify">
                        En particular, <strong>recuerde que algunos proveedores pueden estar ubicados o contar con
                        instalaciones que se encuentran en una jurisdicción diferente a ti o nosotros</strong>. Así que si
                        desea proceder con una transacción que involucra los servicios de un proveedor a terceros, su
                        información puede estar sujeta a las leyes de la jurisdicción (jurisdicciones) en que se
                        encuentra el proveedor de servicios o sus instalaciones.
                    </p>
                    <p class="text-justify">
                        <strong>A modo de ejemplo</strong>, si se encuentras en Canadá y su transacción es procesada por una
                        pasarela de pago con sede en Estados Unidos, entonces su información personal utilizada para
                        completar la transacción puede ser sujeto de divulgación en virtud de la legislación de Estados
                        Unidos, incluyendo la Ley Patriota.
                    </p>
                    <p class="text-justify">
                        Una vez que abandone el sitio web o se redirige a un sitio o aplicación de
                        terceros, ya no está siendo regulado por la presente <strong>Política de Privacidad</strong> o los <a routerLink="/terminos-y-condiciones">Términos y Condiciones</a> 
                        de nuestra página web.
                    </p>
                    <p class="text-justify">
                        Cuando hace clic en enlaces de nuestra tienda, puede que sea redirigido fuera de nuestro
                        sitio. No somos responsables por las prácticas de privacidad de otros sitios y le
                        recomendamos leer sus normas de privacidad.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 5 - SEGURIDAD.</u></h5>
                    <p class="text-justify">
                        Para <strong>proteger su información personal</strong>, tomamos precauciones razonables y seguimos las
                        mejores prácticas de la industria para asegurarnos de que no haya pérdida de manera
                        inapropiada, mal uso, acceso, divulgación, alteración o destrucción de la misma.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 6 - EDAD DE CONSENTIMIENTO.</u></h5>
                    <p class="text-justify">
                        Al utilizar este sitio, declara que tiene al menos la mayoría de edad en su estado o provincia
                        de residencia, o que tiene la mayoría de edad en su estado o provincia de residencia y que nos
                        has dado tu consentimiento para permitir que cualquiera de sus dependientes menores usen
                        este sitio.
                    </p>

                    <br>

                    <h5><u>SECCIÓN 7 - CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD.</u></h5>
                    <p class="text-justify">
                        <strong>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento</strong>,
                        así que por favor revísela frecuentemente. Cambios y aclaraciones entrarán en vigencia
                        inmediatamente después de su publicación en el sitio web. Si hacemos cambios materiales a
                        esta política, notificaremos aquí que ha sido actualizada, por lo que está enterado de qué
                        información recopilamos, cómo y bajo qué circunstancias, si las hubiere, la utilizamos y/o
                        divulgamos.
                    </p>
                    <p class="text-justify">
                        Si nuestra web es adquirida o fusionada con otra empresa, su información puede ser
                        transferida a los nuevos propietarios, para que podamos seguir vendiéndole productos.
                    </p>

                    <br>

                    <h5><u>PREGUNTAS E INFORMACIÓN DE CONTACTO.</u></h5>
                    <p class="text-justify">
                        Si quiere: acceder, corregir, enmendar o borrar cualquier información personal que poseamos
                        sobre ti, registrar una queja, o simplemente quiere más información contacta a nuestro
                        Oficial de Cumplimiento de Privacidad <strong>raulrodriguezmendez1997@gmail.com</strong>.
                        
                        <br>
                        <br>
                        
                        [Re: Oficial de cumplimiento de privacidad]

                        <br>
                        <br>
                        
                        [Plaza Juan Ramon Jimenez, 2, La Rinconada, Sevilla, España]
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>
