<div class="container animated fadeInLeft">
    <div class="row">
        <div class="col-md-12 mx-auto d-block">
    
            <div class="card border">
    
                <div class="jumbotron text-center h2 text-dark">
                    Inicio de sesión
                </div>
               
                <div class="card-body">
    
                    
                    <form [formGroup]="form" (ngSubmit) = "signIn()">
                        <div class="form-group">
                            <label>Usuario <i class="fas fa-user"></i></label>
                            <input matInput type="text" name="username" formControlName="usuario" 
                            placeholder="Introduce tu usario..." class="form-control" [ngClass]="{'is-invalid': form.get('usuario')?.touched && form.get('usuario')?.invalid}">
                            <div class="alert alert-danger" *ngIf="form.get('usuario')?.touched && form.get('usuario')?.hasError('required')">
                                El nombre de usuario es requerido
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label>Contraseña <i class="fas fa-key"></i></label>
                            <input matInput type="password" name="password" formControlName="contraseña" 
                            placeholder="Introduce tu contraseña..." class="form-control" [ngClass]="{'is-invalid': form.get('contraseña')?.touched && form.get('contraseña')?.invalid}">
                            <div class="alert alert-danger" *ngIf="form.get('contraseña')?.touched && form.get('contraseña')?.hasError('required')">
                                La contaseña es requerida
                            </div>
                        </div>
    
    
                        <p>¿No tienes una cuenta?<a routerLink="/registro">¡Registrate aquí!</a></p>
                        <button class="btn btn-primary btn-block" [disabled]="form.invalid">
                            Iniciar sesión
                        </button>
                    </form>
                    
                </div>
    
            </div>
        </div>
    
    </div>
    </div>

