<div *ngIf="listaFavorito" class="container animated fadeInLeft">


    <div class="row mb-3">
        <div class="col-12">
          <h1>Objetos en la lista "{{listaFavorito.nombre}}"</h1>
        </div>
    </div>

    <div class="row row-cols-4">
        <app-herramienta *ngFor="let objeto of listaFavorito.objetos" [objeto] = "objeto" [pagina] = "paginaActual" (evento_objeto_id) = "eliminarObjeto($event)"></app-herramienta>     
    </div>

    <button class="btn btn-danger" type="button" (click) = "comunService.ir_a('listas-favorito', null!)">
        Volver
    </button>


</div>
