<div class="container animated fadeInLeft">


    <div class="row">
        <div class="col-12">
            <h1>Nueva donación</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-12">

            <form [formGroup]="form" (ngSubmit)="guardarDonacion()">

                <div class="row">

                    <div class="col-3">

                        <div class="form-group">
                            <label>Categoría</label>                        
                            <select class="form-control" 
                                [ngClass]="{'is-invalid': form.get('categoria')?.touched && form.get('categoria')?.invalid}"
                                formControlName="categoria">
                                <option value="Golpe">Golpe</option>
                                <option value="Unión">Unión</option>
                                <option value="Corte">Corte</option>
                                <option value="Sujeción">Sujeción</option>
                                <option value="Medición">Medición</option>
                                <option value="Montaje">Montaje</option>
                            <!--<option *ngFor="let valor of universidades" [value]="valor.nombre">{{valor.nombre}}</option>-->
                            </select>
                            <div class="invalid-feedback" *ngIf="form.get('categoria')?.touched && form.get('categoria')?.hasError('required')">
                                Es requerido.
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-3">
                        <div class="form-group">

                            <label>Nonbre</label>
                            <input 
                                type="text"
                                class="form-control" 
                                [ngClass]="{'is-invalid': form.get('nombre')?.touched && form.get('nombre')?.invalid}"
                                formControlName="nombre"
                            /> 
                            <div class="invalid-feedback" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')">
                                Es requerido.
                            </div>

                        </div>
                        
                    </div>

                    <div class="col-6">

                        <!--<div class="form-group">-->

                            <label>Imagen</label>
                            <div class="custom-file">

                                <input 
                                    type="file"
                                    formControlName="imagen"
                                    class="custom-file-input"
                                    [ngClass]="{'is-invalid': form.get('imagen')?.touched && form.get('imagen')?.invalid}"
                                    (change) = "establecerFile($event)"
                                    accept=".png,.jpg,.jpeg"
                                />  
                                <label #labelPlano for="customFile" class="custom-file-label" data-browse="Elegir">
                                    Seleccionar archivo
                                </label>
                                <div class="invalid-feedback" *ngIf="form.get('imagen')?.touched && form.get('imagen')?.hasError('required')">
                                    Es requerido.
                                </div>

                            </div>
                            

                        <!--</div>-->
                                   
                    </div>

                </div>

                <div class="row">

                    <div class="col-12">

                        <div class="form-group">

                            <label>Descripción</label>   
                            <textarea class="form-control"  
                            [ngClass]="{'is-invalid': form.get('descripcion')?.touched && form.get('descripcion')?.invalid}"
                            rows="3" formControlName="descripcion"></textarea>
                            <div class="invalid-feedback" *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.hasError('required')">
                                Es requerido.
                            </div>

                        </div>

                    </div>
                    
                </div>

                <button class="btn btn-primary mr-2" [disabled]="form.invalid">
                    Guardar
                </button>
                <button class="btn btn-danger" type="button" (click) = "comunService.ir_a('donaciones-usuario', null!)">
                    Cancelar
                </button>
  
            </form>

        </div>

    </div>

</div>