<div class="container animated fadeInLeft">
  <div class="row">
    <div class="col-12">
      <h2>Editar datos del usuario</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" id="form">
        <div *ngIf="authService.hasRole('ROLE_USER')" class="row">
          <div class="col-2">
            <div class="form-group">
              <label>Nombre</label>
              <input
                type="text"
                placeholder="Introduzca su nombre"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('nombre')?.touched && form.get('nombre')?.invalid}"
                formControlName="nombre"
              />
              <div class="invalid-feedback" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-2">
            <div class="form-group">
              <label>Nombre de usuario</label>
              <input
                type="text"
                placeholder="Introduzca su usuario"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('nombre_perfil')?.touched && form.get('nombre_perfil')?.invalid}"
                formControlName="nombre_perfil"
              />
              <div class="invalid-feedback" *ngIf="form.get('nombre_perfil')?.touched && form.get('nombre_perfil')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Primer apellido</label>
              <input
                type="text"
                placeholder="Introduzca su primer apellido"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('primer_apellido')?.touched && form.get('primer_apellido')?.invalid}"
                formControlName="primer_apellido"
              />
              <div class="invalid-feedback" *ngIf="form.get('primer_apellido')?.touched && form.get('primer_apellido')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Segundo apellido</label>
              <input
                type="text"
                placeholder="Introduzca su segundo apellido"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('segundo_apellido')?.touched && form.get('segundo_apellido')?.invalid}"
                formControlName="segundo_apellido"
              />
              <div class="invalid-feedback" *ngIf="form.get('segundo_apellido')?.touched && form.get('segundo_apellido')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-2">
            <div class="form-group">
              <label>Código postal</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('codigo_postal')?.touched && form.get('codigo_postal')?.invalid}"
                formControlName="codigo_postal"
              />
              <div class="invalid-feedback" *ngIf="form.get('codigo_postal')?.touched && form.get('codigo_postal')?.hasError('required')">
                Es requerido.
              </div>
              <div class="invalid-feedback" *ngIf="form.get('codigo_postal')?.touched && form.get('codigo_postal')?.hasError('pattern')">
                Debe tener 5 dígitos.
              </div>
              <div class="invalid-feedback" *ngIf="form?.hasError('noContieneCodigo')">
                Código postal no soportado.
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="authService.hasRole('ROLE_USER')" class="row">
          <div class="col-3">
            <div class="form-group">
              <label>Tipo identificación</label>
              <select
                class="form-control"
                [ngClass]="{'is-invalid': form.get('tipo_identificacion')?.touched && form.get('tipo_identificacion')?.invalid}"
                formControlName="tipo_identificacion"
              >
                <option value="NIF">NIF</option>
                <option value="NIE">NIE</option>
                <!--<option *ngFor="let valor of universidades" [value]="valor.nombre">{{valor.nombre}}</option>-->
              </select>
              <div class="invalid-feedback" *ngIf="form.get('tipo_identificacion')?.touched && form.get('tipo_identificacion')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Código identificación</label>
              <input
                type="text"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('codigo_identificacion')?.touched && form.get('codigo_identificacion')?.invalid}"
                formControlName="codigo_identificacion"
              />
              <div class="invalid-feedback" *ngIf="form.get('codigo_identificacion')?.touched && form.get('codigo_identificacion')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Teléfono</label>
              <input
                type="text"
                placeholder="Introduzca su teléfono"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('telefono')?.touched && form.get('telefono')?.invalid}"
                formControlName="telefono"
              />
              <div class="invalid-feedback" *ngIf="form.get('telefono')?.touched && form.get('telefono')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                placeholder="Introduzca su email"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('direccion_email')?.touched && form.get('direccion_email')?.invalid}"
                formControlName="direccion_email"
              />
              <div class="invalid-feedback" *ngIf="form.get('direccion_email')?.touched && form.get('direccion_email')?.hasError('required')">
                Es requerido.
              </div>
               <div class="invalid-feedback" *ngIf="form.get('direccion_email')?.touched && form.get('direccion_email')?.hasError('pattern')">
                  Debe tener un formato válido.
                </div>
            </div>
          </div>
        </div>

        <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="row">

          <div class="col-4">
            <div class="form-group">
              <label>Nombre</label>
              <input
                type="text"
                placeholder="Introduzca su nombre"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('nombre')?.touched && form.get('nombre')?.invalid}"
                formControlName="nombre"
              />
              <div class="invalid-feedback" *ngIf="form.get('nombre')?.touched && form.get('nombre')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Nombre de usuario</label>
              <input
                type="text"
                placeholder="Introduzca su usuario"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('nombre_perfil')?.touched && form.get('nombre_perfil')?.invalid}"
                formControlName="nombre_perfil"
              />
              <div class="invalid-feedback" *ngIf="form.get('nombre_perfil')?.touched && form.get('nombre_perfil')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Teléfono</label>
              <input
                type="text"
                placeholder="Introduzca su teléfono"
                class="form-control"
                [ngClass]="{'is-invalid': form.get('telefono')?.touched && form.get('telefono')?.invalid}"
                formControlName="telefono"
              />
              <div class="invalid-feedback" *ngIf="form.get('telefono')?.touched && form.get('telefono')?.hasError('required')">
                Es requerido.
              </div>
            </div>
          </div>
          
        </div>

          <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="row">

          <div class="col-6">
              <div class="form-group">
                <label>Dirección</label>
                <input
                  type="text"
                  placeholder="Introduzca la dirección"
                  class="form-control"
                  [ngClass]="{'is-invalid': form.get('direccion')?.touched && form.get('direccion')?.invalid}"
                  formControlName="direccion"
                />
                <div class="invalid-feedback" *ngIf="form.get('direccion')?.touched && form.get('direccion')?.hasError('required')">
                  Es requerido.
                </div>
              </div>
          </div>

          <div class="col-6">
              <div class="form-group">
                <label>Email</label>
                <input
                  type="text"
                  placeholder="Introduzca su email"
                  class="form-control"
                  [ngClass]="{'is-invalid': form.get('direccion_email')?.touched && form.get('direccion_email')?.invalid}"
                  formControlName="direccion_email"
                />
                <div class="invalid-feedback" *ngIf="form.get('direccion_email')?.touched && form.get('direccion_email')?.hasError('required')">
                  Es requerido.
                </div>
                  <div class="invalid-feedback" *ngIf="form.get('direccion_email')?.touched && form.get('direccion_email')?.hasError('pattern')">
                    Debe tener un formato válido.
                  </div>
              </div>
          </div>

        </div>
          
          
        

        <!--
          <div class="col-4">
            <div class="form-group">
              <label>Contraseña</label>
              <input
                type="password"
                placeholder="Introduzca su contraseña"
                class="form-control"
                formControlName="pass"
              />
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Confirmar contraseña</label>
              <input
                type="password"
                placeholder="Repita su contraseña"
                class="form-control"
                formControlName="confirmPass"
              />
            </div>
          </div>
          -->

        <!--
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                       
                                        <div class="col-12 col-md-6">
                                            <div class="custom-control custom-checkbox my-1 mr-sm-2 form-group">            
                                                <input formControlName="check" type="checkbox" class="custom-control-input" id="customControlInline">
                                                <label class="custom-control-label" for="customControlInline">Aceptar <a routerLink="/terminos-y-condiciones">términos y condiciones</a> y <a routerLink="/politica-privacidad">política de privacidad.</a></label>    
                                            </div>
                                        </div>
                                        
        
                                    </div>
                                </div>
                                
                            </div>
                            -->

        <button class="btn btn-primary mr-2" [disabled]="form.invalid">
          Guardar
        </button>
        <button type="button" class="btn btn-primary mr-2" (click) = "cambiarPass()">
          Cambiar contraseña
        </button>
        <button
          class="btn btn-danger"
          type="button"
          (click)="comunService.ir_a('inicio', null!)"
        >
          Volver
        </button>
      </form>
    </div>
  </div>
</div>
