
<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4 text-white mdb-color">
  

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">¿Quiénes somos?</h5>
          <p class="text-justify">
            Este proyecto ha sido realizado por un grupo de estudiantes de último curso de Ingerniería Informática
            por la Escuela Técnica Superior de Ingeniería Informática.
          </p>
          <p class="text-justify">
            El objetivo de este proyecto es establecer lazos y relacionar a estudiantes que quieren impartir clases con estudiantes
            que necesitan ayuda y apoyo para afrontar las asignaturas.
          </p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">Enlaces</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <a style="color:orange" routerLink="/terminos-y-condiciones">Terminos y condiciones.</a>
              </p>
            </li>
            <li>
              <p>
                <a style="color:orange" routerLink="/politica-privacidad">Política de privacidad.</a>
              </p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Dirección</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fas fa-home mr-3"></i> Avenida Reina Mercedes, Sevilla, AN, 41012, España</p>
            </li>
            <li>
              <p>
                <i class="fas fa-envelope mr-3"></i> prosubject.ispp@gmail.com</p>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Síguenos</h5>
  
          
          <ul class="list-unstyled">
            <li>
              <p>
                <a target="_blank" style="color:orange" href="https://instagram.com/prosubject2020?igshid=e7jybwshxppd"><i class="fab fa-instagram"></i> Instagram</a></p>
            </li>
            <li>
              <p>
                <a target="_blank" style="color:orange" href="https://www.facebook.com/prosubject.ispp.9"><i class="fab fa-facebook"></i> Facebook</a></p>
            </li>
            <li>
              <p>
                <a target="_blank" style="color:orange" href="https://twitter.com/ProSubject2020"><i class="fab fa-twitter"></i> Twitter</a></p>
            </li>
            <li>
              <p>
                <a target="_blank" style="color:orange" href="https://www.youtube.com/channel/UCwUJQwgK-FK31ZAUKf9bCTw?view_as=subscriber"><i class="fab fa-youtube"></i> YouTube</a></p>
            </li>
            <li>
              <p>
                <a target="_blank" style="color:orange" href="https://bit.ly/ProSubject"><i class="fas fa-clipboard-list"></i> Página de lanzamiento</a></p>
            </li>
          </ul>
          
           
          
  
          
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a style="color:orange" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
      <div>Icons made by <a style="color:orange" href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a  style="color:orange" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
