<div class="container animated fadeInLeft">

    <div class="row">
        <div class="col-12">
            <h1>Peticiones de donación</h1>
        </div>
    </div>

    <div *ngIf="peticionesDonacionAdmin.length == 0" class="row">
      <p class="col-12">Aún no hay peticiones de donación en el sistema.</p>
    </div>

    <div *ngIf="peticionesDonacionAdmin.length != 0" class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let peticion of peticionesDonacionAdmin">
                    <td>{{peticion.nombre}}</td>
                    <td>{{peticion.descripcion}}</td>
                    <td>{{peticion.categoria}}</td>
                    <td>{{peticion.fecha_creacion | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click) = "verImagen(peticion)">Ver imagen</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click) = "aceptar(peticion)">Aceptar</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click) = "rechazar(peticion)">Rechazar</button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <paginator-nav *ngIf="paginador && peticionesDonacionAdmin.length != 0" [url] = "url" [paginador]="paginador"></paginator-nav>

    <button class="btn btn-danger" type="button" (click) = "comunService.ir_a('inicio', null!)">
      Volver
    </button>
    

</div>

